.advanced-data-search {
  height: 100%;
  .panel .panel-heading .panel-actions input {
    width: 300px;
  }

  .search-column, .left-column, .right-column {
    position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
  }

  .left-column, .right-column {
    .panel {
      margin-bottom: 10px;
    }
  }

  .left-column-3 {
    left: 0;
    width: calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -webkit-calc(25% - 20px);
  }

  .left-column-2 {
    left: 0;
    width: 330px;
    /*
    width: calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -webkit-calc(25% - 20px);
    */
  }

  .search-column-3 {
    width: 50%;
    left: 25%;
  }
  .search-column-2 {
    /*width: 75%;*/
    left: 350px;
    width: calc(100% - 350px);
  }
  .search-column-1 {
    width: 100%;
    left: 0;
  }
  .right-column {
    right: 0;
    width: calc(25% - 20px);
    width: -moz-calc(25% - 20px);
    width: -webkit-calc(25% - 20px);
  }

  .search-options-block .panel .panel-heading .panel-actions input[type=text] {
    width: 100px;
  }
}

.save-filter-button .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.saved-filter-static-option {
  border-bottom: 1px solid #ddd;
}

.saved-filter-static-option:last-of-type {
  border-bottom: none;
}

.saved-filter-load-option {
  position: relative;
}

.dropdown-menu li.saved-filter-load-option a {
  padding-right: 30px;
}

.saved-filter-remove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
}

.saved-filter-remove:hover {
  padding: 2px;
  font-size: 20px;
}

.expanded-path-item {
  white-space: nowrap;
  display: block;
}

.expanded-path-item:nth-child(2) {
  padding-left: 15px;
}
td.near-click-icon {
  .click-icon-container {
    white-space: nowrap;
  }
}

td.right-click-icon {
  > div {
    width: 100%;
  }
  .click-icon-container {
    white-space: nowrap;
    position: relative;
    padding-right: 17px;
    width: 100%;
    &:hover {
      background-color: #ddd;
    }
    .fa {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }

  .inline-list .dropdown-menu {
    padding-left: 0;
    padding-right: 0;
    .click-icon-container {
      padding-right: 20px;
      padding-left: 10px;
      .fa {
        right: 7px;
      }
    }
  }


}
